<div class="payment-form">
  <div class="padding-5">
    <div class="pull-left">
      <button class="btn btn-default" routerLink="/payments"><span class="glyphicon glyphicon-chevron-left"></span> Cancel </button>
    </div>
  </div>
  <div class="clearfix"></div>
  <form #paymentForm="ngForm" class="form-horizontal" (ngSubmit)="savePaymentForm(paymentForm.value)">
    <div class="form-group">
      <label class="control-label col-sm-2" for="customer">Customer<span class="attention"> *</span></label>
      <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="payment.customerId" id="customer" name="customerId" required>
          <option value="" selected disabled hidden>Choose Customer</option>
          <option *ngFor="let customer of customers" [ngValue]="customer.id">{{customer.firstName}} {{customer.lastName}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="biller">Biller<span class="attention"> *</span></label>
      <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="payment.billerId" id="biller" name="billerId" required>
          <option value="" selected disabled hidden>Choose Biller</option>
          <option *ngFor="let biller of billers" [ngValue]="biller.id">{{biller.companyName}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="account">Account<span class="attention"> *</span></label>
      <div class="col-sm-10">
        <input name="account" type="text" [(ngModel)]="payment.account"  class="form-control" id="account" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="amount">Amount ($)<span class="attention"> *</span></label>
      <div class="col-sm-10">
        <input name="amount" type="text" [(ngModel)]="payment.amount"  class="form-control" id="amount" required>
      </div>
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="!paymentForm.form.valid" class="btn btn-success form-control">Pay</button>
    </div>
  </form>
</div>

